@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;

    --color-light-200: #f2f2f7;
    --color-light-300: #e5e5ea;
    --color-dark-100: #3a3a3c;
    --color-dark-300: #2c2c2e;
    --color-dark-400: #1c1c1e;
    --color-dark-700: #1a1a1a;
    --color-dark-800: #141414;
    --color-dark-900: #0f0f0f;
    --color-accent: #155bd0;
}

@utility skip-segment-button {
    z-index: 1000;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 0;
    background-color: rgb(0 0 0 / 0.5);
    border: 2px rgba(255, 255, 255, 0.75) solid;
    border-right: 0;
    border-radius: 0.75em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    line-height: 1.5em;
}

@utility skip-segment-icon {
    font-size: 1.6em;
    line-height: inherit;
    margin-left: 0.4em;
}
